# Eclipse
.project
.classpath
.settings/
bin/
tmp/

# IntelliJ Idea
.idea/
out/
*.iml

# Netbeans
nbproject/
build/
dist/
nb-configuration.xml

# Maven
target/

# Ignore backup merge conflict files created by git
*.orig

# Ignore logging output
*.log